body{
    max-width: fit-content;
}
p {
    padding-top: 1%;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    margin: 0%;
    height: 5%;
    z-index: 1;
  }
.derecha{ 
    float: right;
}

.clearfix{
    clear: both;
}

button{
    all:unset;
    margin: 11px;

}
.navigator {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: white;
}
.navigator:hover, a:focus {
    background-size: 100% 2px;
}

#container{
    margin-left: 15%;
    margin-right: 15%;
}
.tamaño{
    width: 100%;
}

.tamañoimg{
    width: 100%;
    min-width: 1200px;
}


.rest{
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
    font-weight: lighter;
    font-size: 175%;
    z-index: 0;
}
.rest2{
    position: absolute;
    top: 45%;
    left: 15%;
    color: white;
    font-size: 100%;

}
span{
    font-weight: 1000;
}

.sobre{
    margin-top: 5%;
}
.tamañoimg2{
    width: 30%;
    float: left;
    margin-right: 16px;
}

.sobre2{
    margin-top: 105px;
}

.cocina{
    width: 30%;
    float: right;
}
.carta{
    margin-top: 180px;
}

.menu{
    width: 100%;
    background-color: black;
    margin: 0%;
    height: 5%;
    color: white;
    text-align: center;
    padding-top: 12px;
    line-height: 29px;
}

.menuizquierda{
    border: 1px solid black;
}